<!doctype html>
<html>
    <head>
        <title>Welcome to Carleton Food Rating</title>
    </head>
    <body>
        <h1>Today Burton has:</h1>
        <ol>
        {% for meal in forms %}
            <li> For {{ meal }}:
            <ol>
                {% for station in forms[meal] %}
                <li>At {{ station }} they have:</li>
                    <ol>
                    {% for foodItem in forms[meal][station] %}
                    <li>{{ foodItem }}: {{ forms[meal][station][foodItem]["rate"] }}/10
                        {% set form = forms[meal][station][foodItem]["form"] %}
                        <form action="" method="post" novalidate>
                            {{ form.hidden_tag() }}
                                {{ form.rating.label }}
                                {{ form.rating(size=32) }}
                            {{ form.submit() }}
                        </form>
                    </li> 
                    {% endfor %}
                    </ol>
                {% endfor %}
            </ol>
            </li>
        {% endfor %}
        </ol>
    </body>
</html>
